.parent {
    background-color: hsla(200, 100%, 20%);
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 50%;
    width: 50%;
    animation: left-to-right 1s ease-in forwards infinite alternate;
    /* transition: transform 1s ease-in; */
}
.parent:hover .child {
    /* transition: transform 1s; */
    /* background-color: green; */
    /* transform: translateX(100%); */
    
    /* animation-fill-mode: ; */
    animation-play-state: paused;
}

.box {
    width: 20px;
    height: 20px;
    background: #17D6A9;
    margin: 4px;
    display: inline-block;
    animation: left-to-right 1s;
}

#b1 {
    background: red;
    animation: left-to-right 3s;
    transform: rotateX(100);
}
#b2 {
    transition: cubic-bezier(50);
}

@keyframes left-to-right {
    0% {
        background-color: red;
        transform: translateX(0);
    }
    33% {
        transform: translateY(100%);
    }
    50% {
        background-color: blue;
    }
    66% {
        transform: translateX(100%) translateY(100%);
    }
    100% {
        background-color: green;
        transform: translateX(100%);
    }
}
