.parent {
    background-color: hsla(200, 100%, 20%);
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 50%;
    width: 50%;
    transition: transform 1s ease-in;
}
.parent:hover .child {
    /* transition: transform 1s; */
    /* background-color: green; */
    /* transform: translateX(100%); */
    animation: left-to-right 1s ease-in forwards;
    /* animation-fill-mode: ; */
}

.box {
    width: 20px;
    height: 20px;
    background: #17D6A9;
    margin: 4px;
    display: inline-block;
}

#b1 {
    background: red;
}

@keyframes left-to-right {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateY(100%);
    }
    66% {
        transform: translateX(100%) translateY(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
